@charset="utf8";
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container
{
  display:flex;
  flex-grow:column;
  align-items:center;
  padding:50px;

}
.container .grid{
	width:100%;
	display:flex;
	flex-grow:wrap;
	list-style:none;
}
.container .grid li{
	height:350px;
	padding:20px;
	border-radius:4px;
	background-clip:content-box;
	background-size:cover;
	background-position:center;
}
.container .grid li.small{flex-basis:40%;}
.container .grid li.large{flex-basis:60%;}