

.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.table-header{
  background-color:#fff;
  padding:1em;
  width:1355px;
  margin-left:2%;
  display:flex;
  justify-content:space-between;
  border-radius:.5rem .5rem 0 0;
  position:relative;
}
.opt-table{
  display:block;
  /*background-color:red;*/
  position:relative;
  padding-left:2rem;
  padding-right:2rem;
  font-size:3rem;
  cursor:pointer;
  color:#2a0656;
  transition:0.3s;
}
.opt-content{
  position:absolute;
  top:80%;
  height:200px;
  z-index:2;
  
  display:none;
}
.opt-content li{
  margin-bottom:1rem;
  background-color:#210347;
  border-radius:.5rem;
  
}
.opt-content li a{
  display:block;
  padding:1.5rem;
  color:#fff;
}
.table-header .opt-table:hover  .opt-content
{

  display:block;
}

.table-header form{
  width:20.5%;  
 }
 .table-header .form-seacrh input{
  width:90%;
  transition:0.6s;
  background-color:transparent;
  border:none;
  height:none;
  bottom:-1px;
  left:0px;
  padding-right:0px;
  padding-left:0;
  padding-top:25px;
  color:#000;
 }
  .form-seacrh label
   {
     width:100%;
     height:100%;
     left:0px;
     bottom:0px;
     position:absolute;
     pointer-events:none;
     color: rgb(201, 200, 200);
     font-size:1.5rem;
   }
 .form-seacrh i{

 }
 .form-seacrh{
   width:100%;
   position:relative;
   outline:none;
   overflow:hidden;
 }
   .form-seacrh label::after
   {
     content:"";
     position:absolute;
     bottom:-4px;
     left:0px;
     height:100%;
     width:100%;
     border-bottom:2px solid #33d812;
     transform:translateX(-100%);
     transition:transform 0.3s ease;
   }
   .content-name
   {
     bottom:5px;
     left:0px;
     position:absolute;
     transition:all 0.3s ease;

   }
   .form-seacrh input:focus+ .label-name .content-name,
   .form-seacrh input:valid+ .label-name .content-name
   {
     transform:translateY(-70%);
     color:#33d812;
   }
   


.wrap-table100 {
  /*width:1395px;*/
  width:1355px;
  background-color:red;
  margin-left:2%;
  border-top:1px solid #210347;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color:#fff;
  height:100% !important;

}

table {
  width: 100%;
  border-spacing:0;
}

th, td {
  font-weight: unset;
 text-align:center;
}

.column1 {
  width: 2%;
}

.column2 {
  width:25%;
}

.column3 {
  width: 25%;
}

.column4 {
  width: 23%;
}

.column5 {
  width: 2%;
}
.column6 {
  width: 23%;
} 

.table100-head th {
  padding:8px;
  font-size:1.7rem;
  color:#2a0656;
}

.table100-body td {
 padding:8px;
 font-size:1.7rem;
 color:#979798;
}
.body .cell100:nth-of-type(5){
  color:#3bf815;
  font-weight:bold;
}
tbody tr:nth-of-type(even){
    background-color:#fff;
  }
tbody tr:nth-of-type(odd){

  background-color:#f2f2f2;
}tbody tr td:nth-of-type(5){
  color:red;
}


/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 480px;
  overflow: auto;
}


/*==================================================================
[ Ver1 ]*/

.table100.ver1 th {
 font-size:1.7rem;
  color: #210347;
  line-height:2.4;
}

.table100.ver1 td {
 font-size:1.7rem;
  color:#979798;
}
.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #afa3c1;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #20024a;
}

