@charset="UTF-8";
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none;border:none;
  text-decoration:none;
   font-family:'Tw Cen MT',sans-serif;
 }
:root{
	--main-color:#170330;
	--bg-color:#2a0656;
	--bg-dark:#210347;
	--gren:#3bf815;
	--gree-dark:#2cdd09;
	--bg:#bcaecf;
	--muted:#979798;
	--danger:#e50914;

}
body{
	display:flex;
}

section	
{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:50px;
	width:500px;
}
.content-graf{
	position:relative;
	width:100%;
}
.flex-progress{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.bar-header{
	position:relative;
	display:flex;
	justify-content:space-between;
	color:#20024a;
}
.content-bar{
	position:relative;
	width:100%;
	height:8px;
	border-radius:.5rem;
	background-color:#afa3c1;
}
.content-progress{
	position:absolute;
	height:8px;
	border-radius:.5rem;
	
}
.p-default{
	background-color:var(--bg-dark);
}
.p-danger {
	background-color:red;
}
.progress-1{
	width:1%;
}
.progress-2{
	width:15%;
}

.progress-3{
	width:25%;
}
.progress-4{
	width:75%;
}

.progress-5{
	width:100%;
}