@charset="utf8";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	outline:none;border:none;
  text-decoration:none;
   font-family:'Tw Cen MT',sans-serif;
 }
:root{
	--main-color:#170330;
	--bg-color:#2a0656;
	--bg-dark:#210347;
	--gren:#3bf815;
	--gree-dark:#2cdd09;
	--bg:#bcaecf;
	--muted:#979798;
	--danger:#e50914;

}
*::selection{
  background: var(--bg-color);
  color:#fff;
}
html{
  font-size:62.5%;
  scroll-padding:6rem;
  /*crollbar-width: thin;          
  scrollbar-color: var(--bg-color) var(--bg-dark);*/

}

body{
	position:relative;
	font-family:'Roboto',sans-serif;
		background-color:rgb(233, 233, 233);

}

a{text-decoration:none;}
ul{list-style: none;}

/*==============================Class defs===========================================*/
.main{
	position:relative;
	left:85px;
	width:calc(100% - 85px);
	background-color:rgb(233, 233, 233);
	height:100vh;
	padding:0;
}
.headerContent{
	padding:2rem;
	padding-left:3.5rem;
	padding-right:0;
	padding-bottom:0;

}
.headerContent h3{
	font-size:2rem;
	color:var(--bg-dark);
	font-weight:400;
}.headerContent h3 small{
	color:var(--muted);
}
.headerContent span{
	font-size:2.5rem;
	font-weight:bold;
	color:var(--bg-dark);
	text-transform:uppercase;
}
.btn{
  display:inline-block;
  padding:1.3rem;
  background-color:var(--bg-color);
  color:#fff;
  cursor:pointer;
  font-size:1.6rem;
  border-radius:.2rem;
  position:relative;
  overflow:hidden;
  z-index:0;
  margin-top:1rem;
}
	
.btn:hover{
  color:#fff;
  background-color:var(--bg-dark);
}
 .center{
 	align-items:center;
 }
 /*====================================================================================*/
/*Menu*/
.sidebar{
	width:85px;
	background-color:var(--main-color);
	height:100vh;
	position:fixed;
	}

.logo_content{
	height:67px;
	background-color:var(--bg-color);

}
.logo_content .logo{
	color:#fff;
	display:none;
	background-color:var(--bg-color);
	padding:20px;
}
.logo_name{
  display:flex;
}
.logo_name img{
	width:3.2rem;
}
.logo_content .btn_toggle{
	color:whitesmoke;
	position:absolute;
	right:17px;
	top:7px;
	font-size:26px;
	width:50px;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor:pointer;
}

.sidebar ul{
	padding:20px;
}
.sidebar ul li{
	list-style:none;
  position:relative;

}

.sidebar ul li a{
	color:#fff;
	text-decoration:none;
	display:flex;
   font-size:14px;
   align-items:center;
   padding:10px;
   transition:.4s easy;

}

.sidebar ul li a i{
	padding-right:25px;
	font-size:24px;
}
.sidebar ul li a:hover{
   background-color:var(--bg-color);
   color:#fff;
   border-radius:4px;
} .sidebar ul li:hover span{
	display:block;
}
.sidebar ul li  span{
	color:#fff;
	text-align:center;
	font-size:12px;
	display:none;
	margin-top:4px;
 transition:.4s easy;
}



/*=============================================end menu================================*/
/*============================================Home=====================================*/
 .content-home{
 	 display:flex;
 	 flex-direction:column;
 	 padding:10%;
 	 padding-top:2%;
 }
 .content-banner{
 	 display:flex;
 	 width:100%;
 	 border-radius:.4rem;
 	 background-image:url(../img/home1.png);
 	 background-size:cover;
 	 background-position:right;
 	 color:#fff;
 	 padding:14rem;
 }
 .banner-text{
 	 width:65%;
 }
 .banner-text .banner-title{
 	font-size:4rem;
 }
 .banner-text .banner-text{
 	padding-top:2rem;
 	font-size:2rem;
 }
 .content-info-home{
 	margin-top:4rem;
 	display:flex;
 	
 }
 .content-info-home .box h4{
 	font-size:2rem;
 	margin:4px;
 }
 .content-info-home .box{
 	display:flex;
 	flex-direction:column;
  text-align:center;
 	font-size:1.5rem;
 	color:var(--muted);
 	
 }
 footer{
 	 border-top:1px solid var(--muted);
 	 margin-top:5%;
 	 text-align:center;
 	 padding:15px;
 	 color:var(--muted);
 	 font-size:1.5rem;
 }
/*============================================End Home==================================*/
/*Dashboard */

.dashboard-stab{
  display:flex;
  flex-wrap:wrap;
  gap:1.5rem;
  padding:3rem;
  background-color:rgb(233, 233, 233);
}
.box{
	 flex:1 1 60rem;
   position:relative;
   overflow:hidden;
   cursor:pointer;

}

.content-cat{
	display:flex;
  flex-wrap:wrap;
  gap:1rem;
  margin-top:1rem;

}
.content-cat .categoria{
	 padding:1rem;
	 height:180px;
	 flex:1 1 30rem;
   position:relative;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
   border:.1rem solid rgba(0, 0, 0,0.1);
   cursor:pointer;
   border-radius:.5rem;
   background-color:#fff;

}
.categoria .content{
  width:100%;
  display:flex;
  padding:2rem;
  justify-content:space-between;
  flex-wrap:wrap;

}
.categoria .content .boxheader{
	display:flex;
	border-radius:.5rem;
	align-items:baseline;
	padding-top:2rem;
}
.categoria .content .boxheader i{
   font-size:4rem;
   padding:15px;
   border-radius:.5rem;
   background-color:var(--bg-color);
   color:#fff;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
}
.categoria .content .boxheader h3
{
  font-size:2rem;
  padding:10px;
  margin-left:2rem;
 color:var(--bg-color);

}
 .categoria .content .boxData i{
	font-size:0.8rem;
	background-color:transparent;
	box-shadow:0 0 0;
}
.categoria .content  .boxData ul li{
	margin:1rem;
 
	margin-right:0;
	margin-left:0;
}
.categoria .content .boxData ul{
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	align-items:center;
	position:relative;
}

.categoria .content .boxData ul li span{
	font-size:1.5rem;
	margin-left:4px;
	color:var(--muted);
}
.categoria .content .boxData ul li:nth-of-type(1) i{
	color:red;
}.categoria .content .boxData ul li:nth-of-type(2) i{
	color:var(--gren);
}
.categoria .content .boxData ul li:nth-of-type(3) i{
	color:var(--bg-dark);
}
.content-cat .focus {
	  padding:1rem;
	 height:180px;
	 flex:1 1 30rem;
   position:relative;
   border:.1rem solid rgba(0, 0, 0,0.1);
   cursor:pointer;
   border-radius:.5rem;
   background-color:var(--bg-dark);

	 
}.content-cat .focus:after{
   position:absolute;
  content:'';
  background:rgba(255,255,255,0.05);
  top:0;
  left:0;
  width:48%;
  height:100%;
  pointer-events:none;
}
.focus  .boxData i{
	font-size:0.8rem;
	background-color:transparent;
	box-shadow:0 0 0;
}
.focus  .boxData ul li{
	margin:1rem;
}
.focus  .boxData ul{
	display:flex;
	flex-direction:column;
}

.focus  .boxData ul li span{
	font-size:1.5rem;
	margin-left:4px;
	color:var(--muted);
}
.focus  .boxData ul li:nth-of-type(1) i{
	color:red;
}
.focus  .boxData ul li:nth-of-type(2) i{
	color:var(--gren);
}
.focus .boxData ul li:nth-of-type(3) i{
	color:var(--bg-color);
}
.content-cat .focus .boxData{
    display:flex;
    justify-content:space-between;
 }
.content-cat .focus .boxData h4{
	color:#fff;
	margin-right:8px;
}
.content-cat .focus .boxData .circleData{
	display:flex;
	flex-direction:column;

}

.content-cat .focus .boxData .circleData .content{
   display:flex;
  justify-content:space-between;
  align-items:baseline;
  margin:1rem;
}
.content-cat .focus .boxData .circleData .content:last-child{
   display:flex;
  justify-content:space-between;
  align-items:baseline;
  margin:2rem;
}
.content-cat .focus .boxData .circleData .content:nth-of-type(1) .progress
{
    background:#e0a8a8;
}
.content-cat .focus .boxData .circleData .content:nth-of-type(1) .progress span
{
  background:red;
}
.content-cat .focus .boxData .circleData .content:nth-of-type(2) .progress
{
    background:#a4d589;
}
.content-cat .focus .boxData .circleData .content:nth-of-type(2) .progress span
{
  background:var(--gren);
}
.content-cat .focus .boxData .circleData .progress{
	 width:100px;
	 height:8px;
   background:#afa3c1;
   border-radius:.6rem;
   margin-left:0.2px;
	
}
.content-cat .focus .boxData .circleData .progress span{
  width:100%;
	height:8px;
	display:block;
  background:#20024a;
  border-radius:.5rem;
}

/*progress bar estab */
.content-cat .focus .boxData .circleData .progress span.progress-1{
  width:10%;
}
.content-cat .focus .boxData .circleData .progress span.progress-2{
  width:25%;
	
}
.content-cat .focus .boxData .circleData .progress span.progress-7{
  width:75%;
	
}


.focus h2{
	 color:var(--gren);
	 padding-bottom:1rem;
	 font-size:1.4rem;
}

.focus .agregado{
	display:flex;
	justify-content:space-between;
}
.focus .agregado ul li{
	margin:0.4rem;
}
.focus .agregado ul li span{
  color:#fff;
  font-size:1.3rem;
  font-weight:bold;
}
.focus .agregado ul:last-child li span{
	color:var(--muted);
}
.dashboard-stab .box:nth-of-type(2) .content-cat .categoria{
	 flex-basis:10%;
}
.content-cat .categoria .totAgregado{
	text-align:center;
  align-items:center;
  justify-content:center;
	display:flex;
	padding:20%;
	font-size:2rem;
	position:relative;
	color:var(--muted);
}
.dashboard-stab .box:nth-of-type(3) .content-cat .categoria{
	border:2px solid #e9ecef;
	border-radius:.5rem .5rem 0 0;
	padding:0;
	height:350px;
}
.infoData-body{
	display:flex;

}
.infoData-body li{
	display:flex;
}
.dashboard-stab .box:nth-of-type(3) .content-cat .categoria li{
	padding:0.8rem;
	font-size:1.2rem;
	color:var(--bg-dark);
	display:block;
	position:relative;
}
.dashboard-stab .box:nth-of-type(3) .content-cat .categoria  li:nth-of-type(1){
  width:30%;
  height:100%;
}
.dashboard-stab .box:nth-of-type(3) .content-cat .categoria   li:nth-of-type(2){
  width:70%;
}


 .content-cat .categoria .infoData-header
{
	display:flex;
	background-color:#fff;
	padding:1rem;
	text-align:center;
} .content-cat .categoria .infoData-body{
	  padding:2rem;
}
.content-cat .categoria  .infoData-header span{
	font-size:1.2rem;
	font-weight:bold;
	color:#6c757d;
}
 .content-cat .categoria  .infoData-body:last-child{
	border:1px solid rgba(0, 0, 0,0.1);
	border-radius:0 0 .5rem .5rem;

}
.content-cat .categoria  .infoData-body:nth-of-type(even){
		background-color:#f6f9fc;
		border:1px solid #e9ecef;
		border-right:0;
		border-left:0;
}
.content-cat .categoria  .infoData-body li:nth-of-type(1) {
  color:var(--bg-color);
  font-weight:bold;
}
.content-cat .categoria .boxbar .boxbar-header{
	display:flex;
	justify-content:space-between;
}
.content-cat .categoria .boxbar .boxbar-header span{
	font-size:0.9rem;
	color:#848383;
	font-weight:bold;
}


.boxbar .boxbar-body .progress{
	 width:100%;
	 height:8px;
   background:#afa3c1;
   border-radius:.6rem;
}.boxbar .boxbar-body .progress span{
	width:100%;
	height:8px;
	display:block;
  background:#20024a;
   border-radius:.5rem;
} .progress .progress-1 {
	width:10%;
}
.progress .progress-2 {
	width:15%;
}
.boxbar .boxbar-body .progress .progress-3 {
	width:30%;
}
.boxbar .boxbar-body .progress .progress-9 {
	width:90%;
}


/*end*=============================================================================/

/*Cliente*/
.fixed-menu{
	padding:0.5rem;
	background-color:#fff;
 position:fixed;
 right:0;
 top:35%;
 border-radius:.5rem 0 0 .5rem;
}
.fixed-menu ul li{
  margin-top:10px;
  background-color:#fff;
  padding:0.5rem;
  border-radius:.5rem;
  transition:0.6s;
}
.fixed-menu ul li:first-child:hover{
 background-color:var(--gren);
}
.fixed-menu ul li:first-child a i{
	color:var(--gren);
}
.fixed-menu ul li:first-child:hover a i{
	color:#fff;
}
.fixed-menu ul li:nth-of-type(2) a i{
	color:var(--bg-color);
}
.fixed-menu ul li:nth-of-type(2):hover{
	background-color:var(--bg-color);
}
.fixed-menu ul li:nth-of-type(2):hover a i{
	color:#fff;
}
.fixed-menu ul li:last-child a i{
	color:red;
}
.fixed-menu ul li:last-child:hover{
	background-color:red;
}
.fixed-menu ul li:last-child:hover a i{
	color:#fff;
}
.fixed-menu ul li a i{
	font-size:2rem;
}
.cli-content{
  display:flex;
  flex-wrap:wrap;
  gap:1.5rem;
  padding:3rem;
  background-color:rgb(233, 233, 233);
}
.link-cat{
	display:flex;
  flex-wrap:wrap;
  gap:1rem;
  margin-top:1rem;
  padding-right:4rem;
}
.link-cat  a{
	 height:100px;
   align-items:center;
	 padding:1rem;
	 flex:1 1 20rem;
   position:relative;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
   border:.1rem solid rgba(0, 0, 0,0.1);
   cursor:pointer;
   border-radius:.5rem;
   background-color:#fff;
}
.link-cat .catbox:last-child .content h3{
  color:#979798;
}
.link-cat .catbox:nth-of-type(6){
  border:0.1px dashed #210347;
}

 .link-cat .catbox .content{
  width:100%;
  display:flex;
  padding-left:0;
  align-items:baseline;
}
.link-cat .catbox .content i{
    background-color:#210347;
    border-radius:.5rem;
    color:#ffff;
    font-size:3rem;
    padding:2rem;

}
.link-cat .catbox .content h3{
   font-size:2rem;
   color:#210347;
   margin-left:2rem;
}
.container-tableCli{
	display:flex;
	flex-direction:column;

}
/*===============================================================================================================================*/
/*Cliente menu Add*/
.content-cliAdd{
	 display:flex;
	 flex-direction:column;
   padding:3rem;
	 padding-bottom:2%;
 }
.content-cliAdd .container{
	width:100%;
	position:relative;
	display:grid;
	grid-template-rows:auto;
	grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
	grid-gap: 40px;
}
.content-cliAdd .container .box{
	height:400px;
	position:relative;
	background:var(--bg-dark);
	display:flex;
	align-items:center;
	justify-content:center;
  border:1px solid #000;
  border-radius:.5rem;
 }
.content-cliAdd .container .box:after{
  position:absolute;
  content:'';
  background:rgba(255,255,255,0.05);
  top:0;
  left:0;
  width:50%;
  height:100%;
  pointer-events:none;
}

.content-cliAdd .container .box .content h2{
	position:absolute;
	top:50px;
	right:20px;
	margin:0;
	padding:0;
	font-size:10rem;
	color:rgba(255,255,255,.05);
	transition:0.5s;
	font-weight:bold;
}

.content-cliAdd .container .box:hover .content h2{
	top:0px;
}
.content-cliAdd .container .box .content h3{
	margin:0 0 10px;
	padding:0;
	font-size:34px;
	font-weight:700;
  padding-left:10px;
}
.content-cliAdd .container .box .content p{
	margin:0;
	padding:10px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
}
.content-cliAdd .container .box .content a{
	display:inline-block;
	margin:20px 0 0 0;
	padding:10px 20px;
	margin-left:10px;
	border-radius:.5rem;
	text-decoration:none;
	border:1px solid #fff;
	color:#000;
	transition:0.5s;
	font-size:1rem;
	transform:translateY(-40px);
	opacity:0;
	background-color:#fff;
	visibility:hidden;
}
.container .box .content span{
	color:#eb9307;
	margin-left:5rem;
	 font-family:'Tw Cen MT',sans-serif;
}

/*box pacote*/
/*pacote simples*/
.box-s .content  h3{
		color:#3bf815;
}
.box-s .content  i{
	color:#3bf815;
	margin-right:4px;
}
/*pacote completo*/
.box-c  .content h3{
		color:#eb9408;
}
.box-c  i{
	color:#eb9408;
	margin-right:4px;
}
/*pacote premium */
.box-p .content h3{
color:#6204d3;
}
.box-p   i{
	color:#6204d3;
	margin-right:4px;
}
/*pacote premium */
.box-x .content h3{
 color:#dbd8e3;
}
.box-x  .content i{
	color:#dbd8e3;
	margin-right:4px;
}

/*end */
.content-cliAdd .container .box:hover .content a{
	transform:translateY(0px);
	opacity:1;
	visibility:visible;
}
.content-cliAdd .container .box .content a:hover{
	background:#fff;
	color:#000;
}
/*==========================================================*/
/*modais add*/
.content-Add {
	padding:3rem;
	width:100%;
	position:relative;
	display:grid;
	grid-template-rows:auto;
	grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
	grid-gap: 40px;
}
.content-Add .cliAdd .box{
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
  border:.1rem solid rgba(0, 0, 0,0.1);
	height:400px;
	position:relative;
	background:#fff;
	display:flex;
	flex-direction:column;
	padding:5rem;
	height:100%;
  border-radius:.5rem;
 }
.cliAdd .box h2{
	padding:2rem;
	padding-left:0;
	padding-right:0;
	font-size:1.5rem;
	font-weight:bold;
	color:var(--bg-color);
}
.cliAdd .box i{
	font-size:3.4rem;
}

.cliAdd .box h3{
	font-size:1.8rem;
	padding:10px;
	padding-left:0;
}
.cliAdd .box  ul li{
	margin:10px;
	margin-left:0;
}
.cliAdd .box ul li span{
	font-size:1.9rem;
	color:var(--muted);
}
.cliAdd .box a{
	width:50%;
	transition:0.3s;
}
.cliAdd .box a:hover{
	transform:scale(1.1);
}
/*modais add*/
   .clidd-modal{
   	width:100vw;
   	height:100vh;
   	background-color:rgba(0, 0, 0,0.5);
   	position:fixed;
    top:0;
    transform:scale(0);
	  transition:0.3s;
	  display:none;
	    }
	    
	    /*modal q gera o link das faturas*/
	  .fat-modal{
   	width:100vw;
   	height:100vh;
   	background-color:rgba(0, 0, 0,0.5);
   	position:fixed;
    top:0;
    padding:25%;
    padding-top:15%;
	  transition:0.3s;
  }
   /* ===================*/

   .clidd-modal.active{
   	transform: scale(1);
   	display:block;
   }
   .clidd-modal.close{
   	display:none;
   }
   .clidd-modal .body-modal{
   	background-color:#fff;
    padding:20px;
    margin:10% auto 0;
    width:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:.5rem;
   }
   .body-modal .modal-header{
   	 text-align:right;
   	 width:100%;
   }
    .modalClose{
   	font-size:2rem;
   	font-weight:bold;
   	color:var(--bg-color);
   	cursor:pointer;
   }
   .modalClose:hover{
   	color:var(--bg-dark);
    }
    .modal-body{
      display:flex;
      flex-direction:column;
    	width:100%;
      padding-bottom:2rem;
    }
    .modal-body i{
    	font-size:5rem;
    	color:var(--bg-color);
    	margin-left:2.5rem;
    }
    .modal-body form input[type="submit"]{margin-left:2.5rem;}
    .modal-body form{
    	width:100%;
    }
    .modal-body form .form-group{
    	display:flex;
      justify-content:center;
    }
    .modal-body form .form-group .form{
    	
    	width:45%;
    	margin:1rem;
    }
 /*================Formulaios============*/
    .form{
     position:relative;
     outline:none;
     overflow:hidden;
     height:80px;
     width:100%;
    }
/*==================end form ==============*/
       .modal-body form .form-group .form input
   {
     width:100%;
     height:100%;
     border:none;
     bottom:0px;
     left:0px;
     padding-top:15px;

   }

      .modal-body form .form-group .form label
   {
     width:100%;
     height:100%;
     left:0px;
     bottom:10px;
     position:absolute;
     border-bottom:1px solid rgb(201, 200, 200);
     pointer-events:none;
     color: rgb(201, 200, 200);
   }
      .modal-body form .form-group  .form label::after
   {
     content:"";
     position:absolute;
     bottom:-1px;
     left:0px;
     height:100%;
     width:100%;
     border-bottom:2px solid var(--gren);
     transform:translateX(-100%);
     transition:transform 0.3s ease;
   }
       .modal-body form .form-group .form .content-name
   {
   	font-weight:300;
   	 font-size:1.6rem;
     bottom:5px;
     left:0px;
     position:absolute;
     transition:all 0.3s ease;
   }
       .modal-body form .form-group .form input:focus+ .label-name .content-name,
   .form input:valid+ .label-name .content-name
   {
     transform:translateY(-150%);
     color:var(--gren);
     font-weight:400;
   }
       .modal-body form .form-group .form input:focus+ .label-name::after,
   .form input:valid+ .label-name::after
  {
   
   transform:translateX(0%);
 
  }
 #modalDelete{
 	display:flex;
 	flex-direction:column;
 	width:100%;
 	background-color:#Fff;
 	padding:2rem;
 	text-align:center;
 }
 #modalDelete span{
 	font-size:2rem;
 }
 #modalDelete ul{
 	display:flex;
 	width:100%;
 	margin-top:2rem;
 	justify-content:center;
 }
 #modalDelete ul li{
 	margin:1rem;
 }
 #modalDelete ul li:nth-of-type(1) a {
   background-color:var(--gren);
 }
 #modalDelete ul li:nth-of-type(2) a {
   background-color:red;
 }
 .fatModal div{
   background-color:#ff5722;
   border-radius:.2rem;
   display:flex;
   flex-direction:column;
   z-index:0;
 }
 .fatModal div form i{
 	 font-size:1.5rem;
 	 position:absolute;
 	 margin-top:10px;
 	 margin-left:-8px;
 	 z-index:1;
 	 color:#fff;
 }
 .fatModal div input{
  outline:none;
  font-size:0;
  padding:12px;
  padding-left:24px;
  z-index:2;
  cursor: pointer;
  background-color:transparent;
 }


/*end*/
/*========================================================================================*/
/*Perfil cli*/
.content-cliPerfil {
	padding:3rem;
	position:relative;
	gap:1.5rem;
	display:flex;
	flex-wrap:wrap;
}
.perfil{
 flex:1 1 30rem; 
 width:minmax(500px);
}
.content-cliPerfil .perfil .box{

	box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
  border:.1rem solid rgba(0, 0, 0,0.1);
	height:400px;
	position:relative;
	background:#fff;
	display:flex;
	justify-content:space-between;
  padding:3rem;	
  border-radius:.5rem;
 }

 .content-cliPerfil .perfil .box .img-stab{
	text-align:center;
}
.content-cliPerfil .perfil .box .img-stab i{
	font-size:10rem;
	color:var(--bg-dark);
}
.content-cliPerfil .perfil .box .info-stab{
     margin-left:4rem;
     width:80%;
     padding:2rem;
  	display:flex;
  	flex-direction:column;

}
.content-cliPerfil .perfil .box .info-stab div{
	display:flex;
	justify-content:space-between;
	padding:.4rem;
	margin-top:.4rem;
	font-size:1.6rem;
	}
.content-cliPerfil .perfil .box  .info-stab div:nth-child(7){
	border-bottom:.1rem solid var(--muted);
	border-radius:.1.4rem;
}
.content-cliPerfil .perfil .box  .info-stab div:nth-of-type(5) span:nth-of-type(2){
	color:var(--gren);
	font-weight:bold;
	text-transform: uppercase;
}
.content-cliPerfil .perfil .box  .info-stab div span:nth-of-type(1){
	color:var(--muted);
	font-weight:bold;
	margin-top:4px;
}
.content-cliPerfil .perfil .box .info-stab div span:nth-of-type(2){
	color:var(--bg-color);
}
.content-cliPerfil .perfil .box  .footer-stab{
	display:flex;
}
.content-cliPerfil .perfil .box  .footer-stab ul{
	display:flex;
	width:100%;
	justify-content:flex-end;
}
.content-cliPerfil .perfil .box .footer-stab ul li{margin:.2rem;}
.content-cliPerfil .perfil .box .footer-stab ul li:nth-of-type(2) a{
	background-color:red;
}
.content-cliPerfil .perfil .box .footer-stab ul li:nth-of-type(2) a:hover{
	background-color:#e00a0a;
}

.content-cliPerfil .perfil .box  h2{
	color:var(--bg-color);
}
.content-cliPerfil .perfil  .info-stab{
    padding:2rem;
  	display:flex;
  	flex-direction:column;

    
}
.content-cliPerfil .perfil  .info-stab div{
	display:flex;
	justify-content:space-between;
	padding:.4rem;
	margin-top:.4rem;
	font-size:1.6rem;
}
 .content-cliPerfil .perfil .info-stab div:nth-of-type(5) a{
	font-weight:bold;
	text-transform: uppercase;
}
.content-cliPerfil .perfil .info-stab div:nth-of-type(5) span:nth-of-type(2){
	font-weight:bold;
	text-transform: uppercase;
}
.content-cliPerfil .perfil .info-stab div span:nth-of-type(1){
	color:var(--muted);
	font-weight:bold;
	margin-top:4px;
}
.content-cliPerfil .perfil .info-stab div span:nth-of-type(2){
	color:var(--bg-color);
}
 .content-cliPerfil .perfil:nth-of-type(2) .info-stab  .progress{
	 width:50%;
	 height:8px;
   background:#afa3c1;
   border-radius:.6rem;
   position:relative;
}
.content-cliPerfil .perfil:nth-of-type(2)  .info-stab .progress span{
	width:50%;
	height:8px;
	position:absolute;
	display:block;
  background:#20024a;
  border-radius:.6rem;
  top:-4px;
  left:0;
} 
.content-perfilInfo{
	display:flex;
	gap:20px;
  padding:2rem;
  padding-left:0;
}
.content-perfilInfo .container:nth-of-type(1){
	width:40%;
}
.content-perfilInfo .container:nth-of-type(1) .box{
	height:400px;
	position:relative;
	background:var(--bg-dark);
	display:flex;
	align-items:center;
	justify-content:center;
  border:1px solid #000;
  border-radius:.5rem;
  width:100%;

}
.content-perfilInfo .container:nth-of-type(1) .box:after{
	position:absolute;
  content:'';
  background:rgba(255,255,255,0.05);
  top:0;
  left:0;
  width:50%;
  height:100%;
  pointer-events:none;
}
/*==========*/
.content-perfilInfo .container:nth-of-type(1) .box .content h2{
	position:absolute;
	top:50px;
	right:20px;
	margin:0;
	padding:0;
	font-size:10rem;
	color:rgba(255,255,255,.05);
	transition:0.5s;
	font-weight:bold;
}
.content-perfilInfo .container:nth-of-type(1) .box:hover .content h2{
	top:0px;
}
.content-perfilInfo .container:nth-of-type(1) .box .content h3{
	margin:0 0 10px;
	padding:0;
	font-size:34px;
	font-weight:700;
 padding-left:10px;
}
.content-perfilInfo .container:nth-of-type(1) .box .content p{
	margin:0;
	padding:10px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
}
.content-perfilInfo .container:nth-of-type(1) .box .content a{
	display:inline-block;
	margin:20px 0 0 0;
	padding:10px 20px;
	margin-left:10px;
	border-radius:.5rem;
	text-decoration:none;
	border:1px solid #fff;
	color:#000;
	transition:0.5s;
	font-size:1rem;
	transform:translateY(-40px);
	opacity:0;
	background-color:#fff;
	visibility:hidden;
}
.content-perfilInfo .container:nth-of-type(1) .box:hover .content a{
	transform:translateY(0px);
	opacity:1;
	visibility:visible;
}
.content-perfilInfo .container:nth-of-type(1) .box .content a:hover{
	background:#fff;
	color:#000;
}
/*===========*/

.content-perfilInfo .container:nth-of-type(2){
	width:60%;
}

/*===================================PRINT============================*/
.content-print{
  width:100%;
	position:relative;
	display:grid;
	padding:0;
	padding-top:2%;
	padding-left:1%;
	grid-template-rows:auto;
	grid-gap:0 20px;
	grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
}
.content-print .box{
	overflow:hidden;
   box-shadow: 0 .5rem 1rem rgba(0, 0, 0,0.1);
   border:.1rem solid rgba(0, 0, 0,0.1);
   cursor:pointer;
   border-radius:.5rem;
   padding:2.5rem;
   background-color:#fff;
   display:flex;
   flex-direction:column;
   margin:10px;
   justify-content:center;
   text-align:center;
}.content-print .box i{
	 display:block;
	 background-color:var(--bg-color);
	 padding:4rem;
	 font-size:3rem;
	 color:#fff;
	 border-radius:.5rem;
}.content-print .box span{
  font-size:1.5rem;
  margin-top:10px;
  font-weight:bold;
  color:var(--bg-dark);
}

/*======================Relatórios=============== */
.modalPrint{
   display:flex;
   justify-content:center;
   padding:2%;
   padding-left:33.5%;
   padding-right:28%;

}
.printOpt{
	  background-color:#fff;
	  padding:4%;
	  padding-right:8%;
	  border-radius:0.2rem;
}
.printOpt .selectAll{
  padding-left:2%;
 padding-bottom:1%;
}
.printOpt .selectAll label{
  font-size:1.5rem;
  margin-right:8px;
}
.printFooter{
	padding:2%;
	padding-bottom:0;
	display:flex;
		

}
.printFooter input,a{
	font-size:2rem;
}
.printFooter a{
   background-color:red;
   margin-left:4px;
}
.printFooter a:hover{
   background-color:red;
}
/*================================================*/




















/*=====================================END PRINT=========================*/


/*=======================================Form ============================*/
 .content-login{
  background-image: url(../img/bg.png);
         background-position:center;
         background-size:cover;
    }
  .container-login
 {
      display:flex;
      justify-content:center;
      align-items:center;
      padding:50px 50px;
      margin-top:50px;
      flex-direction:column;
  }
  .container-login .container-inputs
  {
    background-color:#ffff;
    height:405px;width:480px;
    border-radius:2px;padding:50px;
    display: flex;flex-direction: column;
  }
 .container-login  .img-logo
{
   width:6.5rem;
}
.container-login .text-base
{
  font-weight:600;
  font-size:3rem;
  color:#170331;
}

.container-login  .next{
	display:flex;
	justify-content:flex-end;
	margin-top:15px;

}
 .container-login  .btn-no-bot{
 	padding:10px;
 	width:35%;
 	border:none;
 	background-color:#3bf815;
 	color:#ffff;
  font-weight:600;
  cursor: pointer;
   transition:1s;
   border-radius:3px;
   font-size:2rem;
}
.container-login  .btn-no-bot:hover{background-color:#33d812;}
.container-login  .link_conta{
	text-align:none;
	text-decoration:none;
	font-size:2rem;
	color: rgb(141, 129, 129);
}
.container-login .destaque{
	color:#3bf815;
}
.container-login  .info_cad{
    background-color:#ffff;
    margin-top:20px;
    height:50px;
    width:480px;
    border-radius:2px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
.container-login .icon-term{
	width:10%;
}
.container-login  .info_cad span{
	width:70%;
	margin-top:-6px;
	margin-left:6px;
}
.container-login  .icon-term img{
	margin-left:10px;
}
.container-login  .info_cad span a {text-decoration: none;color:  rgb(141, 129, 129);}

.container-login  .btn-select{
	padding:14px;
	background-color:#ffff;
	border-radius:4px;border:1px solid #7b797c;
}
.container-login  .btn-select:focus{
	border:1px solid #3bf815;
}
.container-login  .container-term{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:50px 50px;
  margin-top:10px;
  flex-direction:column;
}
.container-login  .termos{
	background-color:#ffff;
	width:65%;border-radius:4px;

 }

   .container-login .form
   {
     position:relative;
     outline:none;
     overflow:hidden;
     height:100px;
     width:100%;
     margin-bottom:20px;
     margin-top:10px;
   }

   .container-login .form input
   {
     width:100%;
     height:100%;
     border:none;
     height:none;
     bottom:0px;
     left:0px;
     padding-top:55px;
     font-size:1.5rem;
   }

   .container-login  .form input
   {
     width:100%;
     height:100%;
     border:none;
     height:none;
     bottom:0px;
     left:0px;
     
   }
  .container-login  .form label
   {
     width:100%;
     height:100%;
     left:0px;
     bottom:0px;
     position:absolute;
     border-bottom:1px solid rgb(201, 200, 200);
     pointer-events:none;
     color: rgb(201, 200, 200);
     font-size:2rem;
   }
   .container-login  .form label::after
   {
     content:"";
     position:absolute;
     bottom:-2px;
     left:0px;
     height:100%;
     width:100%;
     border-bottom:2px solid var(--gren);
     transform:translateX(-100%);
     transition:transform 0.3s ease;
   }
   .container-login  .content
   {
     bottom:5px;
     left:0px;
     position:absolute;
     transition:all 0.3s ease;
   }
   .container-login  .form input:focus+ .label-name .content-name,
   .container-login  .form input:valid+ .label-name .container-login  .content-name
   {
     transform:translateY(-180%);
     color:var(--gren);
   }
   .container-login  .form input:focus+ .label-name::after,
 .form input:valid+ .label-name::after
 {
   transform:translateX(0%);
 
 }
 /*=====msg erro de login*/  
 .msg-lg{
 	font-size:1.5rem;
 	color:red;
 	padding:2%;
 	padding-left:0;
 }
/*========================================END LOGIN=======================*/

/*===========================================MSG NOT FOUND ================*/
 .wrap-table100 .table100Found{
  padding:0;
  display:flex;
  justify-content:center;
  align-items:center;
 }
 .wrap-table100 .table100Found img{
 	width:59vh;
 }
/*============================================END==========================*/
/*=======================================DEFINICAOES=======================*/
 .sectionAcount{
   display:flex;
   padding-top:1rem;

 }
 .acountPerfil{
 	width:30%;
 	display:flex;
 	flex-direction:column;
 	align-items:center;
 	justify-content:center;
}
 .acountPerfil i{
 	background-color:var(--main-color);
 	padding:2rem;
 	color:#fff;
 	font-size:4rem;
 	border-radius:.5rem;
 }
 .acountPerfil span{
 	  margin-top:2rem;
 	  color:var(--muted);
 }
 .acountGeral{
 	width:70%;
 	padding-left:1rem;

 }
 .acountGeral div {
  display:flex;
  justify-content:space-between;
  padding-top:1rem;
}
.acountGeral div:nth-of-type(4) {
  display:flex;
  justify-content:end;
}
.acountGeral div span:nth-of-type(1){
    color:var(--muted);
  }
  .acountGeral div span:nth-of-type(2){
    color:var(--bg-dark);
  }
  .acountGeral div:last-child{
  	display:flex;
  	flex-direction:column;
  }
  .acoutEdit{
  	opacity:0;
    scale:0;
  }
  
/*========================================end==============================*/


     
/*breakpoint============================================================================*/
/* SMALL DEVICES - SMARTPHONES */
@media  (max-width: 778px) {
	html{
				          font-size:55%;
				       }
	     .sidebar{
    	position:relative;
			width:100%;
			height:10%;	
	          }
	        .sidebar .logo{
					 		display:block;
					 	}
					 .sidebar ul{
					 	display:flex;
					 	flex-wrap:wrap;
					 	justify-content:center;
					 	align-items:center;
				   }
				   .sidebar ul li:hover span{
	         display:none;
        }
	.main{
		width:100%;
		left:0;
		padding:0;
	}

	.dashboard-stab{
    padding-left:4px;
	}
     .categoria .content .boxData ul{
		display:flex;
		flex-direction:row;
		flex-wrap: wrap;
		align-items:center;
		position:relative;      }
           .categoria .content .boxData ul li{
	         margin-left:0.9rem;
      }
    .clidd-modal .body-modal{
    	margin-top:55%;
    }
    .img-stab{
    	display:none;
    	
    }
    

     .content-cliPerfil .perfil .info-stab:nth-of-type(2){
    		width:100%;
    		padding:2rem;
    		margin-left:-10%;
    		position:absolute;
    }
    .clidd-modal .body-modal{
    	width:90%;
    	margin-left:1rem;
    }

    .content-home{
 	    padding:2%;
     }

    .content-banner{
 	 display:flex;
 	 width:100%;
 	 border-radius:.4rem;
 	 background-image:url(../img/bg_home.png);
 	 background-size:cover;
 	 background-position:right;
 	 color:#fff;
 	 padding:4rem;
   }
   .banner-text{
   	width:100%;
   }

}